@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-size: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f6ec35;
  --background-tertiary-color: #d11013;
  --background-quaternary-color: #14b8b8;

  --primary-color: #d11013;
  --secondary-color: #f6ec35;
  --tertiary-color: #000000;
  --quaternary-color: #ffffff;

  --text-primary-color: #000000;
  --text-secondary-color: #6c757d;
  --text-tertiary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/*CSS Reset*/
* body,
img,
h1,
p,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--primary-color);
  border: none;
  margin: 16px auto 32px;
}

.button {
  width: 280px;
  height: 64px;
  color: var(--text-tertiary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--primary-color);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
}

.button:hover {
  background-color: var(--background-primary-color);
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}
