header {
  background-color: var(--backgroud-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 60px;
  height: 30px;
}

.navegation-menu {
  margin-top: 8px;
}

nav {
  display: none;
}
