.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 0 18px;
}
.cards {
  color: var(--quaternary-color);
  background-color: var(--background-quaternary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  position: static;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}
.cards header {
  display: block;
  background-color: transparent;
  padding: 0;
  margin-bottom: 24px;
}
.cards header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.cards header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.cards header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.cards footer {
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    max-width: 740px;
    margin: 0 auto;
  }

  .cards {
    width: 340px;
    flex: 0 0 340px;
  }
}

@media screen and (min-width: 1024px) {
  .offers-cards {
    max-width: 980px;
  }

  .cards {
    width: 450px;
    flex: 0 0 450px;
  }

  .cards header h3 {
    font-size: 48px;
  }

  .cards header span {
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards {
    max-width: 1240px;
  }

  .cards {
    width: 588px;
    flex: 0 0 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
