@import url("./global.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./hero.css");
@import url("./home-sections.css");
@import url("./offers.css");
@import url("./category.css");
@import url("./pages.css");
