@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-size: normal;
    font-display: swap;
}

:root {
    --backgroud-primary-color: #f4f4f4;
    --backgroud-secondary-color: #ffcf00;
    --backgroud-tertiary-color: #d62828;

    --primary-color: #d62828;
    --secondary-color: #003049;

    --text-primary-color: #212529;
    --text-secondary-color: #6c757d;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
    }

/*CSS Reset*/
* body, img, h1, p, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}