/* Backgroud | Botoes | Cores de textos */
:root {
    --backgroud-primary-color: #f4f4f4;
    --backgroud-secondary-color: #ffcf00;
    --backgroud-tertiary-color: #d62828;

    --button-primary-color: #d62828;
    --button-secondary-color: #003049;

    --text-primary-color: #212529;
    --text-secondary-color: #6c757d;
    }


/*CSS Reset*/
* body, img, h1, p, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}